@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


.navbar {
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 0;
    background-color: #910e04;
    color: #FFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand {
    float: left;
    min-height: 55px;
    margin: 0 15px 5px;
}


.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #FFF;
    background-color: #910e04;
}

.navbar-inverse .navbar-nav li a {
    color: #D5D5D5;
}


.item {
    margin-top: 12%;
}


body {
    max-width: 100%;
    color: #FFF;
}

.content {
    background: url('../images/backgroundpic.jpg') repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 5%;
}

h2 {
    font-family: 'Fascinate', cursive;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;

}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #d5d5d5;
    text-decoration: none;
}

p {
    margin-top: 10%;
    font-size: 1.6em;
    color: #fff;
}

.embed-responsive-item {
    width: 90%;
    height: 100%;
    margin: 5% auto;
}

.img-responsive {
    width: 90%;
    margin: 5% auto;
    opacity: 0.5;
    filter: alpha(opacity=50)
}


.img-responsive:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.center-form {
    padding-top: 15px;
    margin: 0 auto;
    max-width: 40%;
}

.btn,
.btn-danger {
    padding: 7px;
}

footer {
    width: 100%;
    background-color: #910e04;
    padding: 2%;
    color: #FFF
}

.fa {
    padding: 20px;
    font-size: 40px;
    color: #FFF;
}

.fa:hover {
    color: #d5d5d5;
    text-decoration: none
}


@media (min-width: 600px) {
    .carousel-inner {
        width: 100%;
        margin-right: auto
    }

    .item {
        margin-top: 9%;
    }


    h2 {
        letter-spacing: 4px;
        font-family: cursive;
        font-weight: bolder;
    }

    .container {
        margin-bottom: 40px;
    }

}

@media (max-width:600px) {
    .carousel-caption {
        display: none;
    }

    .item {
        margin-top: 12%;
    }


    p {
        font-size: 1.2em;
    }

}


@media (min-width: 600px) {
    .item {
        margin-top: 5%;
    }
}


@media (min-width: 768px) {
    .item {
        margin-top: 5%;
    }
}

@media (min-width: 992px) {
    .item {
        margin-top: 5%;
    }
}


@media (min-width: 1200px) {
    .item {
        margin-top: 5%;
    }

}
